@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter_18pt-Regular";
}
body{
    background-color: var(--color-5);
}
/************* Header **************/
header{
    /* background-color: red; */
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 5px;
}
header h1{
    /* background-color: violet; */
    width: 264px;
    font-family: "Inter_28pt-Bold";
    font-size: 40px;
    color: var(--color-1);
}
header p{
    /* background-color: blue; */
    width: 342px;
    margin-top: 9px;
    font-family: "Inter_18pt-Bold";
    font-size: 20px;
    color: var(--color-4);
}
/***********************************/
/************* Main **************/
main{
    /* background-color: red; */
    /* padding: 20px; */
}
.section__images{
    /* background-color: blue; */
    overflow: hidden;
    height: 279px;
    position: relative;
    margin-top: 25px;
}
.section__images img{
    /* background-color: violet; */
}
.section__images img:first-child{
    position: absolute;
    left: -50%; 
}
.section__images img:last-child{
    position: absolute;
    right: -50%;
    bottom: 0;
}
.section__form{
    /* background-color: bisque; */
    margin-top: 27px;
    position: relative;
}
.section__form > a{
    position: relative;
    inset: 0;
    margin: auto;
    display: block;
    background-color: var(--color-3);
    width: 284px;
    height: 59px;
    border-radius: 20px;
    text-align: center;
    padding-top: 17px;
    font-family: "Inter_18pt-Bold";
    font-size: 20px;
    color: var(--color-1);
    text-decoration: none;
}
.section__form p,
.section__form p a{
    text-decoration: none;
    /* background-color: olive; */
    color: var(--color-1);
    margin-top: 8px;
    text-align: center;
    font-family: "Inter_18pt-Bold";
    font-size: 15px;
}
.section__form p a{
    color: var(--color-3);
}